<div class="row">
    <div class="col-md-12 text-center"><h1>Nueva Reserva</h1></div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a type="button" href="../../reservas" id="cancel_button" class="btn btn-danger">Cancelar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <form id="reserva_add_form" class="form-inline" method="post" action="/reservas">
            <input type="hidden" name="id" value="{{reserva.id}}">
            <input type="hidden" name="usuario" value="{{usuario}}">
            <input type="hidden" name="habitacion" value="{{habitacion}}">

            <div id="form-group-estado" class="form-group">
                <label for="campo_estado">Estado</label>
                <input name="estado" id="campo_estado" type="text" class="form-control" placeholder="Completa o Pendiente" value="{{reserva.estado}}" >
            </div>
            </br>

            <div id="form-group-inicio" class="form-group">
                <label>Fecha de inicio</label>
                <input name="inicio_1" id="campo_inicio_1" type="text" class="form-control" placeholder="AAAA">
                <input name="inicio_2" id="campo_inicio_2" type="text" class="form-control" placeholder="MM">
                <input name="inicio_3" id="campo_inicio_3" type="text" class="form-control" placeholder="DD">
            </div>
            </br>

            <div id="form-group-fin" class="form-group">
                <label>Fecha final</label>
                <input name="fin_1" id="campo_fin_1" type="text" class="form-control" placeholder="AAAA">
                <input name="fin_2" id="campo_fin_2" type="text" class="form-control" placeholder="MM">
                <input name="fin_3" id="campo_fin_3" type="text" class="form-control" placeholder="DD">            
            </div>
            </br>

            <input type="submit" id="save_button" class="btn btn-success" value="Guardar">
        </form>
    </div>
    <div class="col-md-3"></div>
</div>